@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@700&display=swap');

* { box-sizing: border-box; }


/* to do:
- alle % angaben durch px ersetzen
*/

body,html {
    top: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #EFFFF0;
}

#all {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

nav {
    flex: 0 0 250px;
    background-color: #E0DAFD;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 3px 0px 10px #c9c9c9;
}

#text {
    margin-left: 10%;
    width: 70%;
}

h1 {
    margin-top: 35%;
    font-family:  'Baloo Tammudu 2', cursive;
    color: #5247A8;
    font-size: 30px;
    line-height: 1em;
    text-shadow: 0px -1px rgb(163, 163, 163);
}

h3 {
    margin-top: 45%;
    font-family:  'Baloo Tammudu 2', cursive;
    color: #ffffff;
    font-size: 25px;
    line-height: 1em;
    text-shadow: 0px -1px rgb(201, 201, 201);
}

#levels {
    margin-left: 3%;
}

svg.empty .st0 {
    fill: #fff;
}

svg .st0 {
    fill: #ff81a0;
    stroke: #5247A8;
    stroke-width: 2px;
    stroke-linejoin:round;
    stroke-linejoin:round;
}

h4 {
    margin-top: 45%;
    font-family:  'Baloo Tammudu 2', cursive;
    color: #5247A8;
    font-size: 40px;
    line-height: 1em;
    display: inline;
    text-shadow: 0px -1px rgb(163, 163, 163);
}

p {
    font-family:  'Baloo Tammudu 2', cursive;
    color: #ffffff;
    font-size: 20px;
    line-height: 1em;
    text-shadow: 0px -1px rgb(201, 201, 201);
}

#countdown {
    font-family: 'Baloo Tammudu 2', cursive;
    color: #5247A8;
    background: rgba(0,0,0,0.5);
    border-radius: 16px;
    font-size: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#countdown.hidden {
    display: none;
}

#countdown span {
    display: block;
    line-height: 0.2;
    font-size: 300px;
}

.number {
    opacity: 0;
    background-color: #ffffff; /* Green */
    border: 3px solid;
    border-color: rgb(104, 104, 104);
    color: rgb(104, 104, 104);
    width: 130px;
    height: 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 0;
    cursor: pointer;
}

.number.solved {
    border-color: #23da75;
}

.number.lost {
    border-color: red;
}

.background {
    flex: 1;
    background-color:#ffffff;
    border: 3px solid;
    border-color: #b8afe0;
    border-radius: 20px;

    position: relative;

    margin: 50px;
}

#gitter {
    padding: 0;
    margin: 0 auto;
    margin-top: 16%;
    margin-bottom: 9%;
    display: flex;
    flex-wrap: wrap;
    width: 394px;
    /*overflow: hidden;*/
}


#gitter li {
    list-style: none;
    /*float: left;*/
}

/*
#gitter li:nth-child(2) {
    clear:left;
}*/

#start {
    background-color:#E0DAFD;
    border: 3px solid;
    border-color: #5247A8;
    color: #5247A8;
    padding: 3px 7px;
    width: 160px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 20px;
}

#start.hidden {
    display:none;
}

#buttonContainer {
    display: flex;
}
