* {
    box-sizing: border-box;
}

.video-container {
    width: 100%;
    padding: 30px;
}

video {
    display: block;
    width: 100%;
    height: auto;
}

#leiste {
    background-color: rgb(177, 212, 195);
    width: 100%;
    padding: 1em;
    display: flex;
    gap: 0.5em;
}

#leiste .button {
    width: 45px;
    height: 46px;
    outline: 0px solid red;
    position: relative;
    cursor: pointer;
}

#playButtonBox {
    
}

#playButton {
    /* padding-left: 0.5em; */
    display: block;
    position: absolute;
    top: 0;
}

#playButtonHover {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#playButtonBox:hover #playButton {
    
}

#playButtonBox:hover #playButtonHover {
    opacity: 1;
}

#pauseButtonBox {
    background-image: url(pause_sprite.png);
    background-position: 0 0;
}

#pauseButtonBox:hover {
    background-position: 0 46px;
}

/*Anpassung für mobile Screen */

@media (max-width: 700px) {
    
}

/* Anpassung für breite Screens */
/*@media (min-width: 2000px) {
    video {
        width: 1920px;
        height: 1080px;

    }
}*/